@charset "UTF-8";
/*
  Author: Rezwanur Rahman
*/

@font-face {
  font-family: 'Aquatico'; 
  src: url('../fonts/Aquatico-Regular.otf');
  }

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #121212;
  color: #333;
  font-family: 'Aquatico';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
#header {
  position: fixed;
  left: 0;
  top: 20px;
  right: 0;
  height: 48px;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.flex-container > div {
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.logo{
  display: flex;
  align-items:center;
}

.text-format{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.25em;
}

.rera-text{
  padding-left: 40px;
}

.name{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

@media (min-width: 1200px){}
.container {
    max-width: 100%;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 40px);
  position: relative;
  margin-top: 40px;
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero img {
  max-width: 95%;
  margin-bottom: 30px;
}


/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.position{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.country{
  font-size: 16px;
  padding-top: 10px;
  letter-spacing: 0.25em;
}

.social{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.btns a{
  padding-left: 20px;
}